@tailwind base;
@tailwind components;
@tailwind utilities;





@layer components {
    .icon-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .icon-header img {
        height: 4vh;
        margin: 0 3vw;
    }

    .naigate {
        @apply peer-hover/draft:block hidden text-yellow-50 absolute top-0 left-0 h-full w-[70%] bg-gray-800
    }

    .icon-header-lg {
        @apply mx-5 w-[2.2vw] h-[4vh] my-[3vh]
    }

    .cart {
        @apply z-10 absolute text-center bottom-[17vh] left-4 bg-gray-100 text-black py-1 px-16 font-semibold text-[2.5vw] hover:bg-red-600 hover:text-yellow-50
    }

    .froshbox::-webkit-scrollbar {
        display: none;
    }

}

@layer utilities {
    .wordspace{
        word-spacing: 0.2rem;
    }
    .animline {
        @apply absolute   w-[0] h-[0.3vh] bg-amber-800  ease-linear duration-500
    }

    .animmain {
        background-image: url("/slide1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        animation-name: slider;
        animation-duration: 30s;
        animation-delay: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 20;


    }

    @keyframes slider {
        0% {
            background-image: url("/slide1.jpg");
            background-position: center;
        }
        50% {
            background-image: url("/slide2.jpg");
            background-position: bottom;
        }

    }

}
